<div class="container-fluid">

    <hr>

    <a name="formacao"><h3>Formação</h3></a>

    <div class="container">

        <h5><b>Técnico em Informática</b></h5>
        <div><b>Local:</b> Escola Jalcira Santos Valadão</div>
        <div><b>Duração:</b> 2016 - 2017  (1 ano e meio)</div>

    </div>
    
    <br>

    <div class="container">

        <h5><b>Bacharelando em Ciência da Computação</b></h5>
        <div><b>Local:</b> IFMG - <i>Campus</i> Formiga</div>
        <div><b>Duração: </b>2017 - Atual</div>

    </div>

</div>
