<img src="../../assets/foto.jpg" alt="foto pessoal" id="foto">

<div class="container">

    <span>

        <h1><b>Olá! Seja bem vindo(a)!</b></h1>

        <p>Eu sou Lucas Mateus Menezes Silva, possuo 21 anos e atualmente estou cursando Ciência da Computação no <a href="https://www.formiga.ifmg.edu.br/" target="_blank" rel="noopener noreferrer">IFMG - <i>Campus</i> Formiga</a>. Este é o meu portifólio, abaixo estão algumas informações de contato, experiência e formação.</p>

    </span>

</div>